:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
}

#app > *:not(:last-child) {
	margin-right: 3rem;
}

.game-board {
	border: 2px solid #405f79;
	display: grid;
	grid-template-columns: repeat(25, 20px);
	grid-template-rows: repeat(40, 20px);
}

.start-btn {
	padding: 0.6rem 1.2rem;
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: 500;
	transition: all 0.2s ease-out;
}

.start-btn:hover {
	transform: scale(1.05);
}

.food {
	width: 100%;
	height: 100%;
	background-color: #ff6e31;
	border-radius: 100%;
}

.snake {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-radius: 0 !important;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button-container > *:not(:last-child) {
	margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

.random-class{
  background-color: yellow;
}
